In [14]:
import pandas as pd
import numpy as np

In [23]:
df_old_cols = ['artists', 'genre', 'playlist_owner', 'release_date', 'release_title',
       'repertoire_pools', 'status', 'streaming_services', 'take_down_date',
       'territory', 'upc']

df_old = pd.read_csv('/Users/meshchd/Downloads/data_fixed_playlists_list.csv',
                     sep='\t',header=0, names=df_old_cols, error_bad_lines=False, index_col=False, dtype='unicode')
df_old.head()

,artists,genre,playlist_owner,release_date,release_title,repertoire_pools,status,streaming_services,take_down_date,territory,upc
0,NaN,NaN,NaN,2016-11-23 00:00:00 UTC,Christmas,NaN,NaN,NaN,NaN,NaN,00602557103601
1,NaN,NaN,NaN,2016-12-09 00:00:00 UTC,Christmas Blues,NaN,NaN,NaN,NaN,NaN,00602557342697
2,NaN,NaN,NaN,2016-12-09 00:00:00 UTC,Christmas Jazz,NaN,NaN,NaN,NaN,NaN,00602557342703
3,NaN,NaN,NaN,2017-01-27 00:00:00 UTC,Crowd Pleasers,NaN,NaN,NaN,NaN,NaN,00602557414387
4,NaN,NaN,NaN,2017-02-03 00:00:00 UTC,Let Me Love You Old School,NaN,NaN,NaN,NaN,NaN,00602557437638

In [3]:
df_old.shape

(863, 11)

In [22]:
df_old.columns

Index(['artists', 'genre', 'playlist_owner', 'release_date', 'release_title',
       'repertoire_pools', 'status', 'streaming_services', 'take_down_date',
       'territory', 'upc'],
      dtype='object')

In [26]:
col_names = ['upc','release_title','artists', 'genre', 'status', 'release_date', 'take_down_date', 'playlist_owner', 
  'repertoire_pools', 'streaming_services', 'territory']

dtype_dict = {
  'upc':str
  }

df_new = pd.read_csv('/Users/meshchd/Downloads/data_fixed_compilations.csv', index_col=None, dtype=dtype_dict, 
                     header=0, names=col_names, error_bad_lines=False)

In [27]:
df_new.head()

,upc,release_title,artists,genre,status,release_date,take_down_date,playlist_owner,repertoire_pools,streaming_services,territory
0,NaN,Jazz Standards: The 1920s,Various artists,Jazz,DRAFT,2018-05-11,NaN,Kayla Schmandt,Catalogue,Spotify;Deezer;Napster;7digital;Amazon,AR;AT;AU;BO;BR;CA;CH;CL;CO;CR;DE;DK;DO;EC;ES;F...
1,00600406836304,Blues For Breakfast,Various artists,Blues,REOPENED,2018-05-04,NaN,James Burnett,Catalogue,Spotify;Deezer;Napster;7digital;Amazon,AR;AT;AU;BO;BR;CA;CH;CL;CO;CR;DE;DK;DO;EC;ES;F...
2,NaN,Punk Hits,Various artists,Punk,CLOSED,2018-05-07,NaN,Kayla Schmandt,Catalogue,Spotify;Deezer;Napster;7digital;Amazon,AR;AT;AU;BO;BR;CA;CH;CL;CO;CR;DE;DK;DO;EC;ES;F...
3,00600406836311,Midnight Jazz,Various artists,Jazz,DELIVERED,2018-05-11,NaN,Kayla Schmandt,Classical / Jazz,Spotify;Deezer;Napster;7digital;Amazon,AR;AT;AU;BO;BR;CA;CH;CL;CO;CR;DE;DK;DO;EC;ES;F...
4,00600406836366,Smooth Jazz,Various artists,Jazz,DELIVERED,2018-06-08,2018-10-10,Kayla Schmandt,Classical / Jazz,Spotify;Deezer;Napster;7digital;Amazon,AR;AT;AU;BO;BR;CA;CH;CL;CO;CR;DE;DK;DO;EC;ES;F...

In [18]:
truly_new = df_new[(df_new.upc.isnull()==False)&(df_new.upc.isin(df_old.upc.unique())==False)]
truly_new['release_date'] = pd.to_datetime(truly_new.release_date)
truly_new['take_down_date'] = pd.to_datetime(truly_new.take_down_date)

all_data = pd.concat([df_old,truly_new], ignore_index=True, sort=True)

  
all_data.head()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,artists,genre,playlist_owner,release_date,release_title,repertoire_pools,status,streaming_services,take_down_date,territory,upc
0,NaN,NaN,NaN,2016-11-23 00:00:00 UTC,Christmas,NaN,NaN,NaN,NaN,NaN,00602557103601
1,NaN,NaN,NaN,2016-12-09 00:00:00 UTC,Christmas Blues,NaN,NaN,NaN,NaN,NaN,00602557342697
2,NaN,NaN,NaN,2016-12-09 00:00:00 UTC,Christmas Jazz,NaN,NaN,NaN,NaN,NaN,00602557342703
3,NaN,NaN,NaN,2017-01-27 00:00:00 UTC,Crowd Pleasers,NaN,NaN,NaN,NaN,NaN,00602557414387
4,NaN,NaN,NaN,2017-02-03 00:00:00 UTC,Let Me Love You Old School,NaN,NaN,NaN,NaN,NaN,00602557437638

In [19]:
all_data.shape

(883, 11)

In [28]:
df_all = pd.read_csv('/Users/meshchd/Downloads/data_fixed_all_playlists.csv', index_col=None, 
                     header=0, error_bad_lines=False)

In [29]:
df_all.head(10)

,artists,genre,playlist_owner,release_date,release_title,repertoire_pools,status,streaming_services,take_down_date,territory,upc
0,NaN,NaN,NaN,2016-11-23 00:00:00 UTC,Christmas,NaN,NaN,NaN,NaN,NaN,00602557103601
1,NaN,NaN,NaN,2016-12-09 00:00:00 UTC,Christmas Blues,NaN,NaN,NaN,NaN,NaN,00602557342697
2,NaN,NaN,NaN,2016-12-09 00:00:00 UTC,Christmas Jazz,NaN,NaN,NaN,NaN,NaN,00602557342703
3,NaN,NaN,NaN,2017-01-27 00:00:00 UTC,Crowd Pleasers,NaN,NaN,NaN,NaN,NaN,00602557414387
4,NaN,NaN,NaN,2017-02-03 00:00:00 UTC,Let Me Love You Old School,NaN,NaN,NaN,NaN,NaN,00602557437638
5,NaN,NaN,NaN,2017-02-10 00:00:00 UTC,Hip Hop Hit List,NaN,NaN,NaN,NaN,NaN,00602557449297
6,NaN,NaN,NaN,2017-02-17 00:00:00 UTC,Shut Up Lets Dance,NaN,NaN,NaN,NaN,NaN,00602557462098
7,NaN,NaN,NaN,2017-02-24 00:00:00 UTC,Fiesta Latina,NaN,NaN,NaN,NaN,NaN,00602557474404
8,NaN,NaN,NaN,2017-03-03 00:00:00 UTC,Hip Hop Hit List (Re-release),NaN,NaN,NaN,NaN,NaN,00602557530711
9,NaN,NaN,NaN,2017-05-26 00:00:00 UTC,"""Blues Gold""",NaN,NaN,NaN,NaN,NaN,00602557688849

In [30]:
df_all.shape

(883, 11)

In [31]:
len(df_all.upc.unique())

883